<head>
  <link rel="stylesheet" href="/src/css/add-albums.css">
  </head>
<body>
  <div id="add-album">
    <form action="/add" method="post">
        <input type="text" name="albumTitle"> Album Title <br>
        <input type="submit" value="Add album">
    </form>
  </div>
</body>