<head>
  <link rel="stylesheet" href="/src/css/add-albums.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>
<body>
  <div id="add-album">
    <input type="text"> Album Title <br>
    <button>Add album</button>
  </div>
</body>