<head>
  <link rel="stylesheet" href="/src/css/album.css">
  <title>Albums</title>
</head>
<body>
<div class="wrapper">
    <div id="user">
        <p id="userName">{{name}}</p>
        <a href="/logout" id="logout">LogOut</a>
    </div>

<div id="options">
  <div id="add">
      <form action="/add-album" method="POST">
          <input type="text" name="title"> <br>
          <input type="submit" value="Add album" class="button">
      </form>
  </div>

  <div id="delete">
      <form action="/delete-album" method="POST">
          <input type="text" name="albumTitle"> <br>
          <input type="submit" class="button" value="Delete Album">
      </form>
  </div>
</div>

  <div id="listAlbum">
      <h1 id="title">Albums</h1>
      <ul id="titleList">
        {{#each title}}
            <li> <a href="show-album-{{this}}" class="linkAlbum">{{this}}</a></li>
        {{/each}}
      </ul>
  </div>
</div>
</body>