<head>
  <link rel="stylesheet" href="/src/css/album.css">
  <title>Albums</title>
</head>
<body>
  <h1>Albums</h1>
  <a href="/logout" id="logout">LogOut</a> <br>
  <p id="userName">{{name}}</p>
  <a href="/add-albums" class="button">Add Album</a> <br> <br>
  <p>{{test}}</p>
  <ul id="titleList">
   {{#each title}}
    <li>{{this}}</li>
    {{/each}} 
  </ul>
</body>