<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/src/css/home.css">
  <title>Albums</title>
</head>
<body>
  <p id="userName">{{name}}</p>
  <div class="container">
    <a href="auth/google" id="btn_sign">Sign In Google</a> 
    <a href="/albums" id="btn_open">Open albums</a> 
  </div>
</body>
</html>