<head>
  <link rel="stylesheet" href="/src/css/home.css">
</head>
<body>
  <p id="userName">{{name}}</p>
  <div class="container" >
    <a href="/albums" class="button">Open albums</a> 
  </div>
</body>