<head>
    <link rel="stylesheet" href="/src/css/show-big-photo.css">
    <title>Photo</title>
</head>
<body>
<div class="wrapper">
    <a href="/delete-photo-{{photoDelete}}" class="button" id="delete">Delete photo</a>
    <input type="button" onclick="history.back();" id="close" class="button" value="Close"/>

    <div id="bigPhoto">
        <ul id="slides">
            {{#each slides}}
                <li class="slide"><img src="/uploads/{{this}}" alt=""></li>
            {{/each}}
        </ul>
    </div>

    <div id="controls">
        <button class="controls" id="pause">Pause</button>
        <button class="controls" id="previous"><-</button>
        <button class="controls" id="next">-></button>
    </div>

</div>
</body>
<script src="/src/js/slider.js"></script>