<head>
    <link rel="stylesheet" href="/src/css/show-big-photo.css">
    <title>Photo</title>
</head>
<body>
<div class="wrapper">
    <a href="/delete-photo-{{photoDelete}}" class="button" id="delete">Delete photo</a>
    <input type="button" onclick="history.back();" id="close" class="button" value="Close"/>

    <div id="bigPhoto">
        <img src="/uploads/{{photo}}" alt="" >
    </div>
</div>

</body>