body{
  background-color: #CCFF99;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

#add-album{
  position: absolute;
  top: 40%;
  bottom: 50%;
  right: 50%;
  left: 40%;
  width: 300px;
}