body{
  background-color: #CCFF99;
  font-family: 'Montserrat', sans-serif;
}

#options{
  position: absolute;
  left: 25%;
  top: 15%;
}

#add{
  margin-bottom: 10px;
}

#delete{
  margin-bottom: 10px;
}

#userName{
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  color: black;
}

#logout{
  font-size: 20px;
  position: absolute;
  top: 70px;
  right: 0;
  width: 200px;
  color: black;
}

#logout:hover {
  text-decoration: none;
  color: darkblue;
}

#listAlbum{
  position: absolute;
  right: 35%;
  top: 10%;
}

.button{
  margin-top: 10px;
  background-color: green;
  border: solid 1px;
  border-radius: 20px;
  font-size: 20pt;
  color: #0cf404;
  text-decoration: none;
}

.button:hover{
  background-color: azure;
  color: darkblue;
}

li{
  font-size: x-large;
  list-style-type: none;
}

.linkAlbum{
  text-decoration: none;
  color: black;
}

.linkAlbum:hover{
  color: darkblue;
  text-decoration-line: underline;
}

label{
  margin-bottom: 10px;
  font-size: x-large;
}