body{
  background-color: #CCFF99;
  font-family: 'Montserrat', sans-serif;
}

#userName{
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  color: black;
}

#logout{
  font-size: 20px;
  position: absolute;
  top: 70px;
  right: 0;
  width: 200px;
  color: black;
}

#logout:hover {
  text-decoration: none;
  color: blue;
}