body{
  background-image: url("../img/first_background.jpg");
  font-family: 'Montserrat', sans-serif;
}

div.container {
  height: 40em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button{
  background-color: green;
  border: solid 1px;
  border-radius: 20px;
  font-size: 20pt;
  color: #0cf404;
  text-decoration: none;
}

.button:hover{
  background-color: azure;
  color: darkblue;
}