body{
    background-color: #FDF5E6;
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 5px;
}

#upload{
    grid-row: 1;
    grid-column: 2;
}

.button{
    background-color: green;
    border: solid 1px;
    border-radius: 20px;
    font-size: 20pt;
    color: #0cf404;
    text-decoration: none;
}

.button:hover{
    background-color: azure;
    color: darkblue;
}

#photoList{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    image-rendering: optimizeQuality;
}

#photoList > li{
    list-style-type: none;
}

.wrapper #photos {
    grid-column: 2;
    grid-row: 2;
}
